   
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  
  <meta name="viewport" content="width=device-width,initial-scale=1">
	

  <link rel="icon" href="https://www.gob.mx/cms/uploads/image/file/488329/favicon.png">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600" rel="stylesheet">
  <meta name="description" content="gob.mx es la plataforma que conecta a la gente con el gobierno, impulsa la eficiencia, y transforma los procesos para proveer de información y  trámites">
  <meta name="keywords" content="gobierno, digital, trámites, trámites en línea, gobierno digital">
  <meta property="og:url" content="http://www.gob.mx/">
  <meta property="og:site_name" content="gob.mx">
  <meta property="og:title" content="gob.mx">
  <meta property="og:image" content="https://www.gob.mx/cms/uploads/image/file/488330/Identidad.jpg">
  <meta property="og:description" content="El portal único del gobierno.">
  <meta property="og:type" content="website">
  <meta name="image" content="https://www.gob.mx/cms/uploads/image/file/488330/Identidad.jpg">
  <iframe src="javascript:void(0)" title="" style="width: 0px; height: 0px; border: 0px none; display: none;"></iframe>
  <title>El portal único del gobierno. | gob.mx</title>
  <link href="https://www.gob.mx/css/chunk-380affc3.86a64797.css" rel="prefetch">
  <link href="https://www.gob.mx/css/chunk-4b321dc6.9fd84dfa.css" rel="prefetch">
  <link href="https://www.gob.mx/css/chunk-5a3a1038.cfb8937c.css" rel="prefetch">
  <link href="https://www.gob.mx/js/chunk-380affc3.b6e58f0a.js" rel="prefetch">
  <link href="https://www.gob.mx/js/chunk-4b321dc6.519579ee.js" rel="prefetch">

  <link href="https://www.gob.mx/js/chunk-5a3a1038.782bb8bb.js" rel="prefetch">
  <link href="https://www.gob.mx/css/app.244384b5.css" rel="preload" as="style">
  <link href="https://www.gob.mx/css/chunk-vendors.e37f87fc.css" rel="preload" as="style">
  <link href="https://www.gob.mx/js/app.b50f0172.js" rel="preload" as="script">
  <link href="https://www.gob.mx/js/chunk-vendors.43d24fff.js" rel="preload" as="script">
  <link href="https://www.gob.mx/css/chunk-vendors.e37f87fc.css" rel="stylesheet">
  <link href="https://www.gob.mx/css/app.244384b5.css" rel="stylesheet">
  <link href="https://www.gob.mx/favicon.ico" rel="shortcut icon">


  <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="/static/evo-calendar.css">
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap" rel="stylesheet">

<style>
    main {
        padding: 20px;
        max-width: 1366px;
        width: 90%;
        margin: 0 auto;
    }
    h1 {
        color: #755eb5;
    }
    h1 span {
        color: #616161;
    }
    hr {
        margin-bottom: 20px;
    }
    @media only screen and (max-width: 425px) {
        main {
            padding: 10px;
        }
    }
</style>
</head>

<body>


<div>
	<div id="app" style="position: relative; width: 100% !important;">
		<nav data-v-4a3754a3="" id="header" class="navbar bg-dark navbar-dark navbar-expand-sm navbar-gob">
                    <div data-v-4a3754a3="" class="container">
                        <button data-v-4a3754a3="" type="button" data-toggle="collapse" data-target="#collapsibleNavbar" class="navbar-toggler">
                            <span data-v-4a3754a3="" class="navbar-toggler-icon"></span>
                        </button>
                            <a data-v-4a3754a3="" href="https://www.gob.mx" target="_blank" class="navbar-brand">
                                <img data-v-4a3754a3="" src="https://framework-gb.cdn.gob.mx/landing/img/logoheader.svg" alt="logo gobierno de méxico" class="logos" style="width: 8rem; margin-top: -2%; margin-bottom: -2%; margin-left: -15%;">
                            </a>
                                <div data-v-4a3754a3="" id="collapsibleNavbar" class="collapse navbar-collapse justify-content-end">
                                    <form data-v-4a3754a3="" class="form-inline">
                                            <ul data-v-4a3754a3="" class="navbar-nav">
                                                    </li><p  style="color:white">PSsCloud:</p></li>
                                                    <li data-v-4a3754a3="" align="left" class="nav-item dropdown">
                                                        <a href="{{ url_for('index') }}">Home </a>
                                                    </li>
                                                    <li data-v-4a3754a3="" class="nav-item dropdown"> 
                                                        <a href="{{ url_for('login') }}">Login</a>
                                                    </li>

                                                </ul>
                                    </form>
                                </div>
                    </div>
            </nav> 






<br>
<br>






<div class="container" style="margin-top:10px">
	  <div class="row">

	  	<div class="col-sm-10">


	  
	  		<br>
	  		<br>
			
			    	  <h2>Sercivio de TeleVisita</h2>
			  
			
			  
							
											    <main>
					        <h1><span></span>Calendario</h1>
					        <hr/>
					        <div id="evoCalendar">



					        </div>
					    </main>

					    <!-- jQuery -->
					    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha384-vk5WoKIaW/vJyUAd9n/wmopsmNhiy+L2Z+SBxGYnUkunIxVxAv/UtMOhba/xskxh" crossorigin="anonymous"></script>
					    <script src="/static/evo-calendar.js"></script>
					    <script>
					        $('#evoCalendar').evoCalendar({
					            todayHighlight: true,
					            sidebarToggler: true,
					            eventListToggler: true,
					            eventDisplayDefault: false,
					            canAddEvent: true,
					            calendarEvents: [
					                { name: "New Year", date: "Wed Jan 01 2020 00:00:00 GMT-0800 (Pacific Standard Time)", type: "holiday", everyYear: true },
					                { name: "Valentine's Day", date: "Fri Feb 14 2020 00:00:00 GMT-0800 (Pacific Standard Time)", type: "holiday", everyYear: true },
					                { name: "Patient #1", date: "February/3/2020", type: "event" },
					                { name: "Patient #3", date: "February/3/2020", type: "event" },
					                { name: "Patient #4", date: "February/3/2020", type: "event" },
					                { name: "Holiday #3", date: "February/3/2020", type: "holiday" },
					                { name: "Birthday #2", date: "February/3/2020", type: "birthday" },
					                { name: "Author's Birthday", date: "February/15/2020", type: "birthday", everyYear: true },
					                { name: "Holiday #4", date: "February/15/2020", type: "event" },
					                { name: "Patient #2", date: "February/8/2020", type: "event" },
					                { name: "Leap day", date: "February/29/2020", type: "holiday", everyYear: true }
					            ],
					            // disabledDate: ["02/17/2020", "02/21/2020"],
					            onSelectDate: function() {
					                console.log('onSelectDate!')
					            },
					            onAddEvent: function() {

					                console.log('onAddEvent!')

					            }
					        });
					        // $("#evoCalendar").evoCalendar('addCalendarEvent', [...]);
					    </script>
			     
						
		</div>	

		  		<div class="col-sm-2">
		  				<br>
		  				<br>
		  				<br>
		
		  				<br>
		  				<br>
		  				<br>
		  				<br>
		  						<br>
		  				<br>
		  				<br>
		  				<br>
		  				<br>
		  				<br>
		  						<br>
		  			
						<div class="container" >
						  <form>
						    <div class="radio">
						      <label><input type="radio" name="optradio" checked>De 14:00 a 15:00 hrs</label>
						    </div>
						    <div class="radio">
						      <label><input type="radio" name="optradio">De 15:00 a 16:00 hrs</label>
						    </div>
						    <div class="radio disabled">
						      <label><input type="radio" name="optradio">De 16:00 a 17:00 hrs</label>
						    </div>

							<br>
							<br>
							<div > <form action="" method="post" novalidate>
								{{ form.hidden_tag() }}
								<td>
									{{ form.sms(size=32) }}<br>
								</td>
								<td>{{ form.submit() }}</td>
							</form></div>
						  </form>
						</div>
	     
	    		</div>	
	</div>
</div>

<br>
<br>







<footer class="site-footer">
  <div id="footer-content">
   <img src="/static/foot.png"    width="100%" height ="30%">
  </div>
</footer>



	
</body>