 {% extends "base.html" %}

{% block content %}




<br>



	    	  <h2>Sercivio de TeleConsulta</h2>

<br>


	  
			<table class="table table-striped">
			    <thead>
			      <tr>
			        <th>Nombre</th>
			        <th>Apellidos</th>
			        <th>Email </th>
			        <th>Celular</th>
			        <th>Videoconferencia</th>
			      </tr>
			    </thead>
			    <tbody>
			      <tr>
			        <td>Juan</td>
			        <td>Lopez Ramirez</td>
			        <td>juanlo@gmail.com</td>
			         <div > <form action="" method="post" novalidate>
						{{ form.hidden_tag() }}
						<td>
							{{ form.sms(size=32) }}<br>
						</td>
						<td>{{ form.submit() }}</td>
					</form></div>
			      </tr>
			      <tr>
			        <td>Maria</td>
			        <td>Moreno Alvarado</td>
			        <td>mari_MA@hotmail.com</td>
			        <td> 5578463215</td>
			        <td><button class="btn btn-primary pull-right" type="submit">Generar consulta</button></td>
			      </tr>
			      <tr>
			        <td>Julio</td>
			        <td>Lopez Gonzalez</td>
			        <td>julio92@gmail.com</td>
			        <td>8184243612</td>
			        <td><button class="btn btn-primary pull-right" type="submit">Generar consulta</button></td>
			      </tr>
			    </tbody>
			</table>
	     
	
<br>
<br>






{% endblock %}
