
{% extends "base.html" %}

{% block content %}

	 <h2>Servicio de TeleConsulta</h2>

<br>
<br>
<br>
<br>

		

    		<div class="alert alert-success">
      			<strong>Success!</strong> La TeleConsulta se ha generado de forma exitosa!
      			<br>

      			<br>
      			Los datos para que el Paciente ingrese a la TeleConsulta fueron enviados de forma exitosa por SMS al número de contacto del Paciente, por favor espere a recibir la llamada. <p> <span class="glyphicon glyphicon-envelope"></span></p>
    		</div>


<br>
<br>
<br>
<br>
<br>
<br>
<br>

{% endblock %}

	     



