{% extends "base.html" %}

{% block content %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf8">
    <title>Space Widget Demo</title>
    <script src="https://code.s4d.io/widget-space/production/bundle.js"></script>
    <link rel="stylesheet" href="https://code.s4d.io/widget-space/production/main.css">


    
  </head>

  <!--
  <style>
  h3 {
  color: #0066ff;
}
  </style>

-->
  <body onload="getResolution();" >
    
      <div align="center">
        <h4>TeleConsulta COVID-19</h4>
        <p class="sansserif"> Para iniciar la videollamada, favor de presionar el botón verde "Call"</p>
      </div>

    <div id="my-webexteams-widget" style="width: 350px; height: 600px;"/>

    <script>


      var widgetEl = document.getElementById('my-webexteams-widget');
      // Init a new widget
      webex.widget(widgetEl).spaceWidget({
    guestToken: '{{ token }}',
    destinationId: 'teleconsulta@adip.rooms.webex.com',
    destinationType: 'sip',
    spaceActivities: {"files":false,"meet":true,"message":false,"people":false},
    initialActivity: 'meet',
    secondaryActivitiesFullWidth: false
  });
    </script>
    <script>

    function getResolution() {

        //alert("Your screen is: " + screen.width + "x" + screen.height);
        var srcw = 12;
        var srch = 4;
        if (screen.width > 800 ){

          srcw=4;
        }

       
        if (screen.height > 800 ){

          srch=3.2;
        }

        document.getElementById("my-webexteams-widget").style.width =  " " + (screen.width - (screen.width/srcw)) + "px";
        document.getElementById("my-webexteams-widget").style.height =  " " + (screen.height - (screen.height/srch))+ "px";
        //document.getElementById("my-webexteams-widget").style.height = "900px";


        // Este codigo oculta la parte del Menu
        /*
        console.log("se cargo la ventana ");
        var x = document.getElementById("menu");
       
        x.style.display = "none";
        */

    }




    

    </script>


    	
  </body>

  
</html>
{% endblock %}