<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf8">
    <title>Space Widget Demo</title>
    <script src="https://code.s4d.io/widget-space/production/bundle.js"></script>
    <link rel="stylesheet" href="https://code.s4d.io/widget-space/production/main.css">
  </head>
  <body>
    
      
    <div id="my-webexteams-widget" style="width: 1000px; height: 1000px;"/>
    <script>
      var widgetEl = document.getElementById('my-webexteams-widget');
      // Init a new widget
      webex.widget(widgetEl).spaceWidget({
    guestToken: '{{ token }}',
    destinationId: 'teleconsulta@adip.rooms.webex.com',
    destinationType: 'sip',
    spaceActivities: {"files":false,"meet":true,"message":false,"people":false},
    initialActivity: 'meet',
    secondaryActivitiesFullWidth: false
  });
    </script>
    	
      <div class="container">
      <div><img src="https://test.covid19.cdmx.gob.mx/resources/img/logo_covid19.svg"  style="float: left;" class="img-header" width="350">
      </div>
  </body>


  
  <div id="footer" class="footer"  >
  
    <div class="container"  >
      
        <div class="w3-container w3-black" style=" width: 100% ; height: 36px;">
        <img src="https://test.covid19.cdmx.gob.mx/resources/img/footer_ADIP.png" style="float:left;padding-left: 2%;vertical-align: middle;" width="222" height="40">
          
        </div>
  
      </div>
  
  </div>
  
  
  
      <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
      <script>
        $('#form').on('submit', function(e){
          var number = $('#num').val();
          e.preventDefault();
          $.ajax({
            url: 'http://127.0.0.1:5000/square/',
            data: {'number': number},
            method: 'POST',
            success: function(data) {
              $('#num').val('');
              $('#square').html('Square of ' + number + ' is ' + data['square'])
            }
          });
        });
      </script>
  
</html>