{% extends "base.html" %}

{% block content %}

<br>
<br>
<br>
<br>

<a href="/appdoctorconstula" <button class="btn btn-info btn-block" type="submit">Atención Domiciliaria</button>
</a>
<br>
<br>

<br>
<a href="/appdoctorinformemedico" <button class="btn btn-info btn-block" type="submit">Informe Médico</button>
</a>
<br>
<br>

<br>
<a href="/appdoctorvisita" <button class="btn btn-info btn-block" type="submit"> Tele Visita</button>
</a>




<br>
<br>

<br>
<br>
<br>
<br>

<br>
<br>
<br>
<br>


{% endblock %}