 {% extends "base.html" %}

{% block content %}


<style>

.page    { display: none;  }

#loading {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 50;
  width: 50vw;
  height: 50vh;
  background-color: rgba(192, 192, 192, 0.5);
  background-image: url("/static/cargando01.gif");
  background-repeat: no-repeat;
  background-position: center;
}
</style>



<br>

	    	  <h2 > Servicio de Atención Domiciliaria </h2>

	<div id="loading">

    </div>

<div id="page"> 

	    	  <p id="demo"></p>

	    	  			<table class="table">
	    	 		<thead class="thead-dark">
	    	 			<tr>
	    	 				<th>Paciente</th>
	    	 				<th>Celular</th>
	    	 				<th>Correo</th>
	    	 				<th>Llamar</th>
	    	 				<th>Fecha</th>
	    	 				<th>Agendar</th>
	    	 			</tr>
	    	 		</thead>
	    	 		<tbody id="pacientes">
	    	 			
	    	 		</tbody>
	    	 	</table>

	    	 <div id="lista-usuarios">
	    	 	
	    	 </div>

</div>
	
<br>
<br>


			<script>


			//url_base="https://iner.teleconsulta.mx";
			//url_base="http://coviexlbtrans-470802257.us-east-1.elb.amazonaws.com";

			
			url_base="";
			url_pacientes="";
			url_familiares="";




				function codeAddress() {


					var URL = window.location.href;
					console.log("LA URL Actual es:" + URL);
					const splitString = URL.split("/");
					console.log(splitString);
					url_base = splitString[0]+ "//" + splitString[2] ;

					

					url_pacientes = url_base + '/getpacientes';
					url_familiares =url_base + '/getfamiliares';

					console.log("entrando a la funcion");
					 $.ajax({

					    url: url_base + '/getpacientes',
					   
					    success: function(respuesta) {
					      var listaUsuarios = $("#pacientes");
					      var response = (""+respuesta).trim();
					      obj = JSON.parse(response);
					      $.each(obj["pacientes"], function(index, elemento) {


					      	var selectFecha= $('<input type="text" id="fec'+elemento.id+'" class="form-control datepicker"></input>').datetimepicker({locale: 'es'});
					      	

					      	var row ='<tr><td>'+elemento.nombre+'</td><td>'+elemento.celular+'</td><td>'+elemento.email+'</td><td><button onclick="llamada('+elemento.id+','+elemento.celular+',\''+elemento.nombre+'\')" class="btn btn-success"><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span></button></td>'+
					      		'<td><div class="input-group date" id="datetimepicker1"><span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span></div> </td><td><button onclick="Agendarllamada('+elemento.id+','+elemento.celular+',\''+elemento.nombre+'\')" class="btn btn-success"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span></button></td></tr>';
					      		var jRow=$(row);
					      		$('div:last',jRow).append(selectFecha);
					      		listaUsuarios.append(jRow);

					      		// codigo para generar el load en la carga de pacientes
					      		document.getElementById("page").style.display = "block";
            		  	  		document.getElementById("loading").style.display = "none";

					      });
					    },
					    error: function() {
					      console.log("No se ha podido obtener la información");
					    }
	  				});
				}


       			 url = url_base + '/getpacientes'
       			 callback =[]
       				   
       		 window.onload = codeAddress;	


       		 function Agendarllamada(identificador,celular,nom){

   


       		 	var fe = $('#fec'+identificador).val();
       		 	if(fe.length==0){
       		 		alert("el campo fecha se encuentra vacio");
       		 	}else{

       		 		    		 			// Codigo para el loading ZZZZZZZZZZZZZZZZZ	
				document.getElementById("page").style.display = "none";
				document.getElementById("loading").style.display = "block";
				
       		 		var datos='{"name":'+'"'+nom+'","tipo":"1","Fecha":"'+fe+'","datos":[{"id":"'+identificador+'","celular":"'+celular+'"}]}';
       		 		console.log(datos);
       		 		$.ajax({
					    url: url_base + "/agendarllamada",
					    type: 'post',
					    header: 'Access-Control-Allow-Origin: *',
					    dataType: 'json',
					    success: function(respuesta) {
					      console.log(respuesta);	
					      location.replace("/respuestateleconsulta");
					      //ZZZZZZZZZ
					      document.getElementById("loading").style.display = "none";	
					   
					    },data:datos,
					    error: function() {
					      // codigo para el loading ZZZZZZZZZZZZZZ
					      document.getElementById("loading").style.display = "none";
					      document.getElementById("page").style.display = "block";
					      console.log("No se ha podido obtener la información");
					      alert("No pudimos contactar al servidor, favor de intentar nuevamente");
					    }
	  				});
       		 	}

       		 	

       		 }
       		 function llamada(identificador,celular,nom){

       		 		// Codigo para el loading ZZZZZZZZZZZZZZZZZ	
				document.getElementById("page").style.display = "none";
				document.getElementById("loading").style.display = "block";
       		 	var datos='{"name":'+'"'+nom+'","tipo":"1","datos":[{"id":"'+identificador+'","celular":"'+celular+'"}]}';
       		 	console.log(datos);
       		 	$.ajax({
					    url: url_base + '/llamada',
					    type: 'post',
					    header: 'Access-Control-Allow-Origin: *',
					    dataType: 'json',
					    success: function(respuesta) {
					      console.log(respuesta);
					      location.replace("/respuestateleconsulta");	
					      document.getElementById("loading").style.display = "none";	
					   
					    },data:datos,
					    error: function() {
					    	    	// codigo para el loading ZZZZZZZZZZZZZZ
					     		 document.getElementById("loading").style.display = "none";
					     		 document.getElementById("page").style.display = "block";
					      console.log("No se ha podido obtener la información");
					      alert("No pudimos contactar al servidor, favor de intentar nuevamente");
					    }
	  				});

       		 	
       		 }





			</script>

				<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>



{% endblock %}
