 {% extends "base.html" %}

{% block content %}

<style>

.page    { display: none;  }



#loading {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 50;
  width: 50vw;
  height: 50vh;
  background-color: rgba(192, 192, 192, 0.5);
  background-image: url("/static/cargando01.gif");
  background-repeat: no-repeat;
  background-position: center;
}
</style>


<!-- se agrego el div de loading y el de page adicional alos estilos de arriba-->



	    	  <h2 > Servicio de Informe Médico</h2>

	<div id="loading">

    </div>
	    
<div id="pacientesboton"> <button  onclick="mostrarpacientes()" class="btn btn-info btn-block" >Pacientes</button></div>
<div id="page">

			<div id="pacientes">
	    	    <table class="table table-striped" id="dtBasicExample" >
						    <thead>
						      <tr>
						        <th>Paciente</th>
						        <th>Celular</th>
						        <th>Email</th>
						         <th>Seleccionar</th>
						      </tr>
						    </thead>
						    <tbody id="tablapacientes">

						    </tbody>
						  </table>

						
			</div>	    

	    	 <div id="lista-familiares" style="visibility: hidden" >

	    	 	<h4 > Familiares</h4>
	    	 	 <br>

					<table class="table table-striped">
					    <thead>
					      <tr>
					      	<th>Seleccionar</th>
					        <th>Nombre</th>
					        <th>Celular</th>
					        <th>Email</th>
					    
					      </tr>
					    </thead>
					    <tbody id="familiares">
					      
					    </tbody>
  					</table>




  					<div >
  						<br>
  						  <p>Selecciona una hora y fecha en saco de que sea una video llamada agenda y presiona el boton de agenda; En su defecto si se trata de una llamada inmediata, presiona el boton con el icono del telefono.</p>


  						  			<table class="table table-striped">
									    <thead>
									      <tr>
									      	<th>Generar Videollamada</th>
									        <th>Hora y Fecha</th>
									        <th>Agendar Videollamada</th>
									      
									    
									      </tr>
									    </thead>
									    <tbody >

									    <tr>
									      	<th ><button onclick= "call()"  class="btn btn-success"><span align="center"  class="glyphicon glyphicon-earphone" aria-hidden="true"></span></button></th>
									        <th><div class="input-group date" id="datetimepicker1"><input type="text" id="fec" class="form-control datepicker"></input><span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span></div></th>
									        <th align="center" > <button onclick="Agendarllamada()" align="center" class="btn btn-success"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span></button></th>
									      
									    
									      </tr>
									      
									    </tbody>
				  					</table>


							

					
					</div>
	    	 </div>

</div>
	
<br>
<br>


			<script>


			// Construimos e inyectamos el date piecker




			//url_base="https://teleconsulta.mx";

			//url_base="https://iner.teleconsulta.mx";

			//url_base="http://localhostdedw"
			//url_base ="http://35.153.44.17:5007";
			//url_base="http://coviexlbtrans-470802257.us-east-1.elb.amazonaws.com";
			
			url_base="";
			url_pacientes="";
			url_familiares="";

			lista_familiares = "";
			lista_pacientes ="";

			var lista_familiarescheck = [];


				function codeAddress() {

					document.getElementById("pacientesboton").style.display = "none";



					var URL = window.location.href;
					console.log("LA URL Actual es:" + URL);
					const splitString = URL.split("/");
					console.log(splitString);
					url_base = splitString[0]+ "//" + splitString[2] + "/";

					url_pacientes = url_base + '/getpacientes';
					url_familiares =url_base + '/getfamiliares';

					// crear y asignar el date picker




					console.log("entrando a la funcion");


					 $.ajax({

					    url:url_pacientes,
					   
					    success: function(respuesta) {
					     
					      //console.log(respuesta);		
					   
					      var listaUsuarios = $("#tablapacientes");



					 
					      var response = (""+respuesta).trim();
					      console.log(response);
					      obj = JSON.parse(response);
					      console.log(obj["pacientes"][0]);

					      //XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
					      lista_pacientes = obj["pacientes"];
					      console.log( "lista de pacientes XXXXXX  " + lista_pacientes[0]["nombre"]);

					      $.each(obj["pacientes"], function(index, elemento) {
					      	//console.log("entrando al ajax");
					      	//console.log(elemento.nombre);



					        listaUsuarios.append(

					           '<tr>'
					    
					          +     '<td>' + elemento.nombre + '</td>'
					            +     '<td>' + elemento.celular + '</td>'
					              +     '<td>' + elemento.email + '</td>'
					              +     '<td>' + '<button '+ 'id=' +  elemento.id +  ' onclick="pacientes_button(' + elemento.id + ')"'   + ' type="button" class="btn btn-primary">Seleccionar</button>' + '</td>'

					          + '</tr>' 

					           



					        );    
					      });

					   

					    },
					    error: function() {
					      console.log("No se ha podido obtener la información");
					    }
	  				});


					 $.ajax({

					    url:url_familiares,
					   
					    success: function(respuesta) {
					     
					
					   
					      var listaUsuarios = $("#lista-usuarios");
					      var response = (""+respuesta).trim();
					      //console.log(response);
					      lista_familiares= JSON.parse(response);
					      console.log(lista_familiares["familiares"][0]);

					      // Lineas para la carhga del Gif
					      document.getElementById("page").style.display = "block";
            		  	  document.getElementById("loading").style.display = "none";

	
					    },
					    error: function() {
					      console.log("No se ha podido obtener la información");
					    }
	  				});




					 // las 3 lineas de abajo son para el load gif

					  //sleep(1000);	
					


            		  					 // lienas que paginan la tabla ----/////////////// /////////////// /////

					 // Basic example
					 /*
					
						  $('#dtBasicExample').DataTable({
						    "paging": false // false to disable pagination (or any other option)
						  });
						  $('.dataTables_length').addClass('bs-select');

						  */
						
				}

				// Fin de code Address


				function pacientes_button( id) {

					document.getElementById("pacientesboton").style.display = "block";
					document.getElementById("pacientes").style.display = "none";

					      //Limpiamos los checks de los familiares ca vez que cambian la lista	
					      lista_familiarescheck = [];	

					document.getElementById("familiares").innerHTML = "";

					//alert("se pesiono el boton con el id: " + id );

					var i;
					 var listaFamiliares = $("#familiares");
					
						for (i = 0; i < lista_familiares["familiares"].length; i++) {

							 if (lista_familiares["familiares"][i].id_paciente == id ){	
							 //console.log(lista_familiares["familiares"][i])

							 listaFamiliares.append(

					           '<tr>'
					                 +     '<td>'  + '<input type="checkbox" name="type" '
                  + "value=" +  lista_familiares["familiares"][i].id   + '/>'+ ' </td>'


					          +     '<td>' + lista_familiares["familiares"][i].nombre + '</td>'
					            +     '<td id="cel'+ lista_familiares["familiares"][i].id + '">' + lista_familiares["familiares"][i].celular + '</td>'
					              +     '<td>' + lista_familiares["familiares"][i].email + '</td>' +
					             '</tr>');



							 }

						  
						} 


					
					
						 var x = document.getElementById("lista-familiares");   // Get the element with id="demo"
						 x.style.visibility = "visible";    

						 
					


				}

				function call( ) {

					// Codigo para el loading ZZZZZZZZZZZZZZZZZ	
				document.getElementById("page").style.display = "none";
				document.getElementById("loading").style.display = "block";


				// XXXXXXXXXXXXXXXXXXXXX	
				var nombre_paciente ="";


				console.log("se preciono el boton de call")
				console.log(lista_familiarescheck);



	       		 		// Aqui podemos meter el nombre del paciente XXXXXXXXXXXXXXXXXXXXX
	       		 		contadorx =0 ;
	       		 		for (var i=0;  i < lista_pacientes.length; i++){

	       		 			//console.log(lista_pacientes[i]["id"])
	       		 			if(contadorx > 0 )
	       		 			{
	       		 				//console.log('se rompe el for general');
	       		 				break;	

	       		 			}

	       		 			for( var j=0;  j < lista_familiares["familiares"].length; j++ ){

	       		 				if(lista_familiarescheck[0] == lista_familiares["familiares"][j]["id"]){



	       		 				
		       		 				if(lista_pacientes[i]["id"] == lista_familiares["familiares"][j]["id_paciente"]){

			       		 				//alert("se encontro al paciente" + lista_pacientes[i]["nombre"]);
			       		 				nombre_paciente =  lista_pacientes[i]["nombre"];
			       		 				//alert(nombre_paciente );
			       		 				contadorx ++;
			       		 				break;	
			       		 				
		       		 				}

		       		 			}


	       		 			}


	       		 		}



		       		 		// Aqui construyo mis datos
		       		 		var datos='{"tipo":"2",' + ' "name":"'+nombre_paciente+'",';

		       		 		// "datos":[{"id":"'+identificador+'","celular":"'+celular+'"}]}';

		       		 		console.log(lista_familiarescheck);

		       		 			data = '"datos":['

		       		 			for (var i=0;  i < lista_familiarescheck.length; i++){

		       		 				var ce = $('#cel'+ lista_familiarescheck[i]).text();
		       		 				console.log(ce);
		       		 				console.log('#cel'+ lista_familiarescheck[i]);
		       		 				data += '{"id":"'+lista_familiarescheck[i]+'","celular":"'+ce+'"}'
		       		 				if(i < (lista_familiarescheck.length-1))
		       		 				{
		       		 					data += ','
		       		 				}


		       		 			}
		       		 			data += "]";

		       		 			datos += data + '}';

		       		 		

		       		 		console.log(datos);

		       		 		$.ajax({
							    url: url_base + '/llamada',
							    type: 'post',
							    dataType: 'json',
							    success: function(respuesta) {
							      console.log(respuesta);
							      location.replace("/respuestainforme");
							       // codigo para el loading ZZZZZZZZZZZZZZ
					      		   document.getElementById("loading").style.display = "none";		
							   
							    },	data: datos,
							    error: function() {

							    // codigo para el loading ZZZZZZZZZZZZZZ
					     		 document.getElementById("loading").style.display = "none";
					     		 document.getElementById("page").style.display = "block";
							      console.log("No se ha podido obtener la información");
							     alert("No pudimos contactar al servidor, favor de intentar nuevamente");
							    }
			  				});

			  				
		       		 	
				}

				var fe;
				function Agendarllamada(){

				// Codigo para el loading ZZZZZZZZZZZZZZZZZ	
				
            		  	

				// XXXXXXXXXXXXXXXXXXXXX	
				var nombre_paciente ="";
					//YYYYYYY
				var id_paciente = "";
					
       		 	fe = $('#fec').val();
       		 	if(fe.length==0  || lista_familiarescheck.length ==0 ){
       		 		alert("el campo fecha se encuentra vacio o no se ha seleccionado un familiar");
       		 	}else{

       		 	document.getElementById("page").style.display = "none";
				document.getElementById("loading").style.display = "block";


	       		 		// Aqui podemos meter el nombre del paciente XXXXXXXXXXXXXXXXXXXXX
	       		 		contadorx =0 ;
	       		 		for (var i=0;  i < lista_pacientes.length; i++){

	       		 			//console.log(lista_pacientes[i]["id"])
	       		 			if(contadorx > 0 )
	       		 			{
	       		 				//console.log('se rompe el for general');
	       		 				break;	

	       		 			}

	       		 			for( var j=0;  j < lista_familiares["familiares"].length; j++ ){

	       		 				if(lista_familiarescheck[0] == lista_familiares["familiares"][j]["id"]){



	       		 				
		       		 				if(lista_pacientes[i]["id"] == lista_familiares["familiares"][j]["id_paciente"]){

		       		 					//YYYYYYYY	
			       		 				id_paciente = lista_pacientes[i]["id"];

			       		 				//alert("se encontro al paciente" + lista_pacientes[i]["nombre"]);
			       		 				nombre_paciente =  lista_pacientes[i]["nombre"];
			       		 				//alert(nombre_paciente );
			       		 				contadorx ++;
			       		 				break;	
			       		 				
		       		 				}

		       		 			}


	       		 			}


	       		 		}



	       		 		// XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX

       		 		// Aqui construyo mis datos
       		 var datos='{"tipo":"2","Fecha":"'+fe+'",' + '"name":"'+nombre_paciente+'",' + '"id_paciente":"'+id_paciente + '"'  + ',';

       		 		// "datos":[{"id":"'+identificador+'","celular":"'+celular+'"}]}';

       		 		console.log(lista_familiarescheck);

       		 			data = '"datos":['

       		 			for (var i=0;  i < lista_familiarescheck.length; i++){

       		 				var ce = $('#cel'+ lista_familiarescheck[i]).text();
       		 				console.log(ce);
       		 				console.log('#cel'+ lista_familiarescheck[i]);
       		 				data += '{"id":"'+lista_familiarescheck[i]+'","celular":"'+ce+'"}'
       		 				if(i < (lista_familiarescheck.length-1))
       		 				{
       		 					data += ','
       		 				}


       		 			}
       		 			data += "]";

       		 			datos += data + '}';

       		 		

       		 		console.log(datos);

       		 		$.ajax({
					    url:url_base +'/agendarllamada',
					    type: 'post',
					    dataType: 'json',
					    success: function(respuesta) {
					      console.log(respuesta);	
					      location.replace("/respuestainforme");
					      // codigo para el loading ZZZZZZZZZZZZZZ
					      document.getElementById("loading").style.display = "none";
					   
					    },	data: datos,
					    error: function() {

					      // codigo para el loading ZZZZZZZZZZZZZZ
					      document.getElementById("loading").style.display = "none";
					      document.getElementById("page").style.display = "block";

					      console.log("No se ha podido obtener la información");
					      alert("No pudimos contactar al servidor, favor de intentar nuevamente");
					    }
	  				});
       		 	}

       		 	
       		 }


				$('#lista-familiares').change(function() {

							  var value = 0.00;	
							  var i = 0;
							  {
							    $('#lista-familiares :checked').each(function() {
							      //if(values.indexOf($(this).val()) === -1){
							      //var value = 0.00;
							      console.log ("valor original " + parseFloat(($(this).val())))
							      if( contains(lista_familiarescheck,parseFloat(($(this).val())) ))
							      {
							      		 console.log("entro al if");


							      }else{


							        console.log("entro al else");	
							      	value=parseFloat(($(this).val()));
							      }	
							      	
							      console.log('valor antes del parse' + ($(this).val()));
							      // }
							    });
							    console.log('valor en el parse' + parseFloat(value));


							    if(lista_familiarescheck.length < 3 &&  value !=0){
					

							   		lista_familiarescheck.push(value);
							    	console.log(lista_familiarescheck);
							    
							    	
							   

							    }else{lista_familiarescheck.pop();}
	

								 if(lista_familiarescheck.length > 2 ){

								    	alert("Solo se permite un maximo de hasta 3 familiares"); }

								}
				});



       			 url = url_base + '/getpacientes'
       			 callback =[]
       				   
       		 window.onload = codeAddress;

       		 $( document ).ready(function() {


       		 	$('#datetimepicker1').datetimepicker();



    			});	

       		 function mostrarpacientes() {

       		 		document.getElementById("pacientes").style.display = "block";
					document.getElementById("pacientesboton").style.display = "none";




       		 }

       		 function contains(a, obj) {
				    for (var i = 0; i < a.length; i++) {
				        if (a[i] === obj) {
				            return true;
				        }
				    }
				    return false;
			}

			// lineas esxtra al ultimi commit

			function sleep(milliseconds) {

				  const date = Date.now();
				  let currentDate = null;
				  do {
				    currentDate = Date.now();
				  } while (currentDate - date < milliseconds);
			}




			</script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>

<br>
<br>
<br>
<br>
<br>



{% endblock %}
