<html>
    <head>
        {% if title %}
        <title>{{ title }} - PSsCloud</title>
        {% else %}
        <title>PSsCloud</title>
        {% endif %}

      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      
      <meta name="viewport" content="width=device-width,initial-scale=1">
        

      <link rel="icon" href="https://www.gob.mx/cms/uploads/image/file/488329/favicon.png">
      <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600" rel="stylesheet">
      <meta name="description" content="gob.mx es la plataforma que conecta a la gente con el gobierno, impulsa la eficiencia, y transforma los procesos para proveer de información y  trámites">
      <meta name="keywords" content="gobierno, digital, trámites, trámites en línea, gobierno digital">
      <meta property="og:url" content="http://www.gob.mx/">
      <meta property="og:site_name" content="gob.mx">
      <meta property="og:title" content="gob.mx">
      <meta property="og:image" content="https://www.gob.mx/cms/uploads/image/file/488330/Identidad.jpg">
      <meta property="og:description" content="El portal único del gobierno.">
      <meta property="og:type" content="website">
      <meta name="image" content="https://www.gob.mx/cms/uploads/image/file/488330/Identidad.jpg">
      <iframe src="javascript:void(0)" title="" style="width: 0px; height: 0px; border: 0px none; display: none;"></iframe>
      <title>El portal único del gobierno. | gob.mx</title>
      <link href="https://www.gob.mx/css/chunk-380affc3.86a64797.css" rel="prefetch">
      <link href="https://www.gob.mx/css/chunk-4b321dc6.9fd84dfa.css" rel="prefetch">
      <link href="https://www.gob.mx/css/chunk-5a3a1038.cfb8937c.css" rel="prefetch">
      <link href="https://www.gob.mx/js/chunk-380affc3.b6e58f0a.js" rel="prefetch">
      <link href="https://www.gob.mx/js/chunk-4b321dc6.519579ee.js" rel="prefetch">

      <link href="https://www.gob.mx/js/chunk-5a3a1038.782bb8bb.js" rel="prefetch">
      <link href="https://www.gob.mx/css/app.244384b5.css" rel="preload" as="style">
      <link href="https://www.gob.mx/css/chunk-vendors.e37f87fc.css" rel="preload" as="style">
      <link href="https://www.gob.mx/js/app.b50f0172.js" rel="preload" as="script">
      <link href="https://www.gob.mx/js/chunk-vendors.43d24fff.js" rel="preload" as="script">
      <link href="https://www.gob.mx/css/chunk-vendors.e37f87fc.css" rel="stylesheet">
      <link href="https://www.gob.mx/css/app.244384b5.css" rel="stylesheet">
      <link href="https://www.gob.mx/favicon.ico" rel="shortcut icon">
      <!--- Memo styles for login -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">  




    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.25.0/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.25.0/locale/es.min.js"></script>

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.20/datatables.min.css"/>
 
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.20/datatables.min.js"></script>
    
  

    
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
         <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>



      <style>
              h2 {
                color: #4d4d4d;
              }

              th {
                color: #4d4d4d;
              }
      </style>


 </head>
    <body>

<div>
    <div id="app" style="position: relative; width: 100% !important;">   
            <nav data-v-4a3754a3="" id="header" class="navbar bg-dark navbar-dark navbar-expand-sm navbar-gob">
                    <div data-v-4a3754a3="" class="container">
                        <button data-v-4a3754a3="" type="button" data-toggle="collapse" data-target="#collapsibleNavbar" class="navbar-toggler">
                            <span data-v-4a3754a3="" class="navbar-toggler-icon"></span>
                        </button>
                            <a data-v-4a3754a3="" href="https://www.gob.mx" target="_blank" class="navbar-brand">
                                <img data-v-4a3754a3="" src="https://framework-gb.cdn.gob.mx/landing/img/logoheader.svg" alt="logo gobierno de méxico" class="logos" style="width: 8rem; margin-top: -2%; margin-bottom: -2%; margin-left: -15%;">
                            </a>
                                <div data-v-4a3754a3="" id="collapsibleNavbar" class="collapse navbar-collapse justify-content-end">
                                  <div id = "menu" class="navbar-nav">
                                    <form data-v-4a3754a3="" class="form-inline" >
                                        
                                            {% if current_user.admin %}
                                              <a class="nav-item nav-link" href="{{ url_for('widget') }}">Widget</a>
                                              <a class="nav-item nav-link" href="{{ url_for('logout') }}">Salir</a>
                                            {% else %}

                                              <a id ="capturista" class="nav-item nav-link" href="{{ url_for('demo') }}">Menu</a>
                                              <a class="nav-item nav-link" href="{{ url_for('logout') }}">Salir</a>
                                            {% endif %}
                                    </form>
                                </div>
                    </div>
            </nav> 
        



<br>



            <div class="container" style="margin-top:30px">
                <div class="row">
                        <div class="col-sm-1">
                         
                        </div>

                        <div class="col-sm-10">

                            <div class="w3-panel w3-light-grey w3-border w3-round">
                             

                                        <hr>
                                        {% with messages = get_flashed_messages() %}
                                        {% if messages %}
                                        <ul>
                                            {% for message in messages %}
                                            <li>{{ message }}</li>
                                            {% endfor %}
                                        </ul>
                                        {% endif %}
                                        {% endwith %}
                                        {% block content %}{% endblock %}
                            </div>                

                        </div>
                        <div class="col-sm-1">
                         
                        </div>

                </div>   
            </div>                     
    </div> <!-- fin del Div del NAV -->
</div> <!-- fin del Div principal -->

<br>
<br>
<br>
<br>
    <footer class="main-footer text-white py-5 px-5" style="background-color: #12322b;">
        <div class="row">

            <div class="col-3 py-5">
                <img class="w-75" src="/static/logofooter.svg" alt="">                
            </div>

            <div class="col-3 text-wrap">
                <h5><strong>Enlaces</strong></h5>
                <ul style="list-style-type: none; margin: 0; padding: 0;">
                    <li><a class="text-decoration-none text-light" href="#">Participa</a></li>
                    <li><a class="text-decoration-none text-light" href="#">Publicaciones Oficiales</a></li>
                    <li><a class="text-decoration-none text-light" href="#">Marco Jurídico</a></li>
                    <li><a class="text-decoration-none text-light" href="#">Plataforma Nacional de Transparencia</a></li>
                </ul>
            </div>

            <div class="col-3 text-wrap">
                <h5><strong>¿Que es gob.mx?</strong></h5>
                <p>Es el portal único de trámites, 
                información y participación ciudadana. <a class="text-light" href="#">Leer mas</a>
                </p>

                <br>     

                <ul style="list-style-type: none; margin: 0; padding: 0;">
                    <li><a class="text-decoration-none text-light" href="#">Portal de datos abiertos</a></li>
                    <li><a class="text-decoration-none text-light" href="#">Declaración de accesibilidad</a></li>
                    <li><a class="text-decoration-none text-light" href="#">Aviso de privacidad integral</a></li>
                    <li><a class="text-decoration-none text-light" href="#">Aviso de privacidad simplificado</a></li>
                    <li><a class="text-decoration-none text-light" href="#">Términos y condiciones</a></li>
                    <li><a class="text-decoration-none text-light" href="#">Política de seguridad</a></li>
                    <li><a class="text-decoration-none text-light" href="#">Mapa del sitio</a></li>
                </ul>
            </div>

            <div class="col-3">
                <h5><a class="text-light" href="#">Denuncia contra servidores públicos</a></h5>

                <h5 class="mt-5">Síguenos en:</h5>
                <p> &nbsp;  <i class="fab fa-facebook-f" style="font-size: 30px;"></i> &nbsp; <i class="fab fa-twitter" style="font-size: 30px;"></i>  </p>


            </div>

        </div>     

    </footer>
    
    <div class="content">        
        <img class="w-100" src="/static/pleca_plumaje_con_fondo.png" alt="">          
    </div>
    

</body>

</html>