<html lang="en">
<head>

    {% if title %}
        <title>{{ title }} - PSsCloud</title>
    {% else %}
        <title>PSsCloud</title>
    {% endif %}

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <!--  //////// MEMO LIBRARIES //////// -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">    
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <!--  //////////////// -->

    <link rel="icon" href="https://www.gob.mx/cms/uploads/image/file/488329/favicon.png">
    <meta name="description" content="gob.mx es la plataforma que conecta a la gente con el gobiernoimpulsa la eficiencia, y transforma los procesos para proveer de información y  trámites">
    <meta name="keywords" content="gobierno, digital, trámites, trámites en línea, gobierno digital">
    <meta property="og:url" content="http://www.gob.mx/">
    <meta property="og:site_name" content="gob.mx">
    <meta property="og:title" content="gob.mx">
    <meta property="og:image" content="https://www.gob.mx/cms/uploads/image/file/488330/Identidad.jpg">
    <meta property="og:description" content="El portal único del gobierno.">
    <meta property="og:type" content="website">
    <meta name="image" content="https://www.gob.mx/cms/uploads/image/file/488330/Identidad.jpg">
    <iframe src="javascript:void(0)" title="" style="width: 0px; height: 0px; border: 0px none; display: none;"></iframe>
    <title>El portal único del gobierno. | gob.mx</title>
    <link href="https://www.gob.mx/css/chunk-380affc3.86a64797.css" rel="prefetch">
    <link href="https://www.gob.mx/css/chunk-4b321dc6.9fd84dfa.css" rel="prefetch">
    <link href="https://www.gob.mx/css/chunk-5a3a1038.cfb8937c.css" rel="prefetch">
    <link href="https://www.gob.mx/js/chunk-380affc3.b6e58f0a.js" rel="prefetch">
    <link href="https://www.gob.mx/js/chunk-4b321dc6.519579ee.js" rel="prefetch">

    <link href="https://www.gob.mx/js/chunk-5a3a1038.782bb8bb.js" rel="prefetch">
    <link href="https://www.gob.mx/css/app.244384b5.css" rel="preload" as="style">
    <link href="https://www.gob.mx/css/chunk-vendors.e37f87fc.css" rel="preload" as="style">
    <link href="https://www.gob.mx/js/app.b50f0172.js" rel="preload" as="script">
    <link href="https://www.gob.mx/js/chunk-vendors.43d24fff.js" rel="preload" as="script">
    <link href="https://www.gob.mx/css/chunk-vendors.e37f87fc.css" rel="stylesheet">
    <link href="https://www.gob.mx/css/app.244384b5.css" rel="stylesheet">
    <link href="https://www.gob.mx/favicon.ico" rel="shortcut icon">


    <style>

        html,
        body {
            height: 100%;
        }

        .page-content {
            flex: 1 0 auto;
        }

    </style>


</head>

<body class="d-flex flex-column ">

    <nav class="navbar sticky-top navbar-expand-lg" style="background-color: #12322b;">
        <div class="container">
            
           <img src="/static/logoheader.svg" alt="" style="width: 13%;"> 

        <!-- 
            <a class="navbar-brand" href="index.html">
                <img src="img/logoheader.svg" alt="" style="width: 13%;">
            </a>
        -->
            
            <ul class="nav justify-content-end">
                {% if current_user.admin %}
                    <li class="nav-item">
                        <a class="nav-item nav-link text-decoration-none text-light" href="{{ url_for('widget') }}">Widget</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-item nav-link text-decoration-none text-light" href="{{ url_for('logout') }}">Logout</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-item nav-link text-decoration-none text-light" href="{{ url_for('demo') }}">Demo</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-item nav-link text-decoration-none text-light" href="#">Login</a>
                    </li>
                {% endif %}                    
            </ul>
        </div>        
    </nav>



    <main class="page-content py-5"> 
        <div class="container">
            <div class="row">
                <div class="col-sm-10">
                    <div>                                 
                        {% with messages = get_flashed_messages() %}
                        {% if messages %}
                        <ul>
                            {% for message in messages %}
                            <li>{{ message }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                        {% endwith %} 
                    </div>                
                </div>
            </div>   
        </div>    
        {% block content %}{% endblock %}     
    </main>

    <footer class="main-footer text-white py-5 px-5" style="background-color: #12322b;">
        <div class="row">

            <div class="col-3 py-5">
                <img class="w-75" src="/static/logofooter.svg" alt="">                
            </div>

            <div class="col-3 text-wrap">
                <h5><strong>Enlaces</strong></h5>
                <ul style="list-style-type: none; margin: 0; padding: 0;">
                    <li><a class="text-decoration-none text-light" href="#">Participa</a></li>
                    <li><a class="text-decoration-none text-light" href="#">Publicaciones Oficiales</a></li>
                    <li><a class="text-decoration-none text-light" href="#">Marco Jurídico</a></li>
                    <li><a class="text-decoration-none text-light" href="#">Plataforma Nacional de Transparencia</a></li>
                </ul>
            </div>

            <div class="col-3 text-wrap">
                <h5><strong>¿Que es gob.mx?</strong></h5>
                <p>Es el portal único de trámites, 
                información y participación ciudadana. <a class="text-light" href="#">Leer mas</a>
                </p>

                <br>     

                <ul style="list-style-type: none; margin: 0; padding: 0;">
                    <li><a class="text-decoration-none text-light" href="#">Portal de datos abiertos</a></li>
                    <li><a class="text-decoration-none text-light" href="#">Declaración de accesibilidad</a></li>
                    <li><a class="text-decoration-none text-light" href="#">Aviso de privacidad integral</a></li>
                    <li><a class="text-decoration-none text-light" href="#">Aviso de privacidad simplificado</a></li>
                    <li><a class="text-decoration-none text-light" href="#">Términos y condiciones</a></li>
                    <li><a class="text-decoration-none text-light" href="#">Política de seguridad</a></li>
                    <li><a class="text-decoration-none text-light" href="#">Mapa del sitio</a></li>
                </ul>
            </div>

            <div class="col-3">
                <h5><a class="text-light" href="#">Denuncia contra servidores públicos</a></h5>

                <h5 class="mt-5">Síguenos en:</h5>
                <p> &nbsp;  <i class="fab fa-facebook-f" style="font-size: 30px;"></i> &nbsp; <i class="fab fa-twitter" style="font-size: 30px;"></i>  </p>


            </div>

        </div>     

    </footer>
    
    <div class="content">        
        <img class="w-100" src="/static/pleca_plumaje_con_fondo.png" alt="">          
    </div>
    

</body>


</html>