 {% extends "base.html" %}

{% block content %}


<br>

<br>
			<h1>Captura de paciente</h1>

			<table class="table table-striped">
			    <thead>
			      <tr>

			        <th>Paciente</th>
			        <th>Celular</th>
			        <th>Email</th>

			        <th></th>
			      </tr>
			    </thead>
			    <tbody>
			      <tr>

			         <div > <form action="" method="post" novalidate>
						{{ form.hidden_tag() }}
						<td>	
						{{ form.patient_name(size=8) }}
						</td>
						<td>	
						{{ form.patient_celular(size=8) }}
						</td>
						<td>	
						{{ form.patient_email(size=14) }}
						</td>

					</form></div>
			      </tr>
			      <tr>
	
			      </tr>
			      <tr>

			      </tr>
			    </tbody>
			</table>

			<h2 >Contactos del paciente</h2>

			<table class="table table-striped">
			    <thead>
			      <tr>
			      	

			        <th>Nombre</th>
			        <th>Celular</th>
			        <th>Email</th>

			        <th></th>
			      </tr>
			    </thead>
			    <tbody>
			      <tr>
			         <div > <form action="" method="post" novalidate>

						{{ form.hidden_tag() }}
						<td>	
						{{ form.familiar_1_name(size=8) }}
						</td>
						<td>	
						{{ form.familiar_1_celular(size=8) }}
						</td>
						<td>	
						{{ form.familiar_1_email(size=14) }}
						</td>

						</tr>

						{{ form.hidden_tag() }}
						<td>	
						{{ form.familiar_2_name(size=8) }}
						</td>
						<td>	
						{{ form.familiar_2_celular(size=8) }}
						</td>
						<td>	
						{{ form.familiar_2_email(size=14) }}
						</td>


						</tr>

						{{ form.hidden_tag() }}
						<td>	
						{{ form.familiar_3_name(size=8) }}
						</td>
						<td>	
						{{ form.familiar_3_celular(size=8) }}
						</td>
						<td>	
						{{ form.familiar_3_email(size=14) }}
						</td>

						</tr>

						<td> {{ form.submit() }}</td>
					</form></div>
			      </tr>
			      <tr>
	
			      </tr>
			      <tr>

			      </tr>
			    </tbody>
			</table>
	     
	
<br>
<br>






{% endblock %}
