 {% extends "base.html" %}

{% block content %}




<br>



	    	  <h2 > Servicio de Atención Domiciliaria </h2>

<br>


	  		
			<table class="table table-striped">
			    <thead>
			      <tr>

			        <th>Numero celular del paciente</th>
			        <th>Videoconferencia</th>
			      </tr>
			    </thead>
			    <tbody>
			      <tr>

			         <div > <form action="" method="post" novalidate>
						{{ form.hidden_tag() }}
						<td>
							{{ form.sms(size=32) }}<br>
						</td>
						<td> <p><input type="submit" class="btn btn-primary" value="Generar Consulta"></p></td>
					</form></div>
			      </tr>
			      <tr>
	
			      </tr>
			      <tr>

			      </tr>
			    </tbody>
			</table>
	     
	
<br>
<br>






{% endblock %}
