 {% extends "base.html" %}

{% block content %}




<br>



	    	  <h2 > Servicio de Atención Domiciliaria </h2>



	  		
            <form action="" method="post" name="teamform">
                {{ pacientesform.hidden_tag() }}
                <h4>Pacientes</h4>
              
                <div>
                    <table>
                        <tr>
                            <th> Nombre </th>
                            <th> Celular </th>
                            <th> email </th>
                        </tr>
                        {% for member in pacientesform.pacientes %}
                        <tr>
                            <td>{{ member.nombre(size=12) }}</td>
                            <td>{{ member.celular(size=12)  }}</td>
                            <td>{{ member.email(size=14)  }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
                <p><input type="submit" name="edit" value="Send"></p>
            </form>
	     
	
<br>
<br>






{% endblock %}
