<html>

<head>
  <title>PSsCloud</title>

  <!-- <script crossorigin src="/static/webex.min.js"></script>-->
  <script crossorigin src="https://unpkg.com/webex@^1/umd/webex.min.js"></script>
  <script defer src="/static/scriptLlamadaSDK.js"></script>


  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <meta name="viewport" content="width=device-width,initial-scale=1">



  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600" rel="stylesheet">
  <meta name="description"
    content="gob.mx es la plataforma que conecta a la gente con el gobierno, impulsa la eficiencia, y transforma los procesos para proveer de información y  trámites">
  <meta name="keywords" content="gobierno, digital, trámites, trámites en línea, gobierno digital">
  <meta property="og:url" content="http://www.gob.mx/">
  <meta property="og:site_name" content="gob.mx">
  <meta property="og:title" content="gob.mx">

  <meta property="og:description" content="El portal único del gobierno.">
  <meta property="og:type" content="website">

  <iframe src="javascript:void(0)" title="" style="width: 0px; height: 0px; border: 0px none; display: none;"></iframe>
  <title>El portal único del gobierno. | gob.mx</title>



  <link href="https://www.gob.mx/js/chunk-5a3a1038.782bb8bb.js" rel="prefetch">
  <link href="https://www.gob.mx/css/app.244384b5.css" rel="preload" as="style">
  <link href="https://www.gob.mx/css/chunk-vendors.e37f87fc.css" rel="preload" as="style">
  <link href="https://www.gob.mx/js/app.b50f0172.js" rel="preload" as="script">
  <link href="https://www.gob.mx/js/chunk-vendors.43d24fff.js" rel="preload" as="script">
  <link href="https://www.gob.mx/css/chunk-vendors.e37f87fc.css" rel="stylesheet">
  <link href="https://www.gob.mx/css/app.244384b5.css" rel="stylesheet">
  <link href="https://www.gob.mx/favicon.ico" rel="shortcut icon">




  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.25.0/moment.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.25.0/locale/es.min.js"></script>




  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>



  <style>
    h2 {
      color: #4d4d4d;
    }

    th {
      color: #4d4d4d;
    }
  </style>


  <style>
    button {
      background-color: Transparent;
      background-repeat: no-repeat;
      border: none;
      cursor: pointer;
      overflow: hidden;
      outline: none;



    }


    img {
      width: 60%;
      height: auto;
    }
  </style>


  <style>
    #loader {
      border: 12px solid #f3f3f3;
      border-radius: 50%;
      border-top: 12px solid #444444;
      width: 70px;
      height: 70px;
      animation: spin 1s linear infinite;
    }

    @keyframes spin {
      100% {
        transform: rotate(360deg);
      }
    }

    .center {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
    }


    table,
    th,
    td {

      border-collapse: collapse;
    }

    th,
    td {
      padding: 5px;
      text-align: center;
    }
  </style>

</head>




<body>

  <div>
    <div id="app" style="position: relative; width: 100% !important;">
      <nav data-v-4a3754a3="" id="header" class="navbar bg-dark navbar-dark navbar-expand-sm navbar-gob">
        <div data-v-4a3754a3="" class="container">
          <button data-v-4a3754a3="" type="button" data-toggle="collapse" data-target="#collapsibleNavbar"
            class="navbar-toggler">
            <span data-v-4a3754a3="" class="navbar-toggler-icon"></span>
          </button>
          <a data-v-4a3754a3="" href="https://www.gob.mx" target="_blank" class="navbar-brand">
            <img data-v-4a3754a3="" src="https://framework-gb.cdn.gob.mx/landing/img/logoheader.svg"
              alt="logo gobierno de méxico" class="logos"
              style="width: 8rem; margin-top: -2%; margin-bottom: -2%; margin-left: -15%;">
          </a>
          <div data-v-4a3754a3="" id="collapsibleNavbar" class="collapse navbar-collapse justify-content-end">
            <div id="menu" class="navbar-nav">

            </div>
          </div>
      </nav>




      <br>



      <div  class="container" style="margin-top:10px">
        <div class="row">


          <div class="col-sm-12">
            <div style="display:none" id="firefox">
              <br>
              <br>
              <br>
               <p class="sansserif"> Navegador No Soportado para Llamadas via Web Browser, por favor utilice otro navegador como Chrome o Safari. </p>
            </div>

            <div  id="xall" class="w3-panel w3-light-grey w3-border w3-round">




              <div id="loader" class="center"></div>
              <div id="cabecera" align="center">
                <h4>TeleConsulta COVID-19</h4>
                <p class="sansserif"> Para iniciar la videollamada, favor de presionar el botón verde "Call"</p>

                <p class="sansserif"> Sesion valida por una hora </p>

                <p class="sansserif"> Se recomienda estar conectado a una red de tipo WiFi antes de iniciar la
                  videollamada, con la finalidad de no consumir su plan de datos celular.</p>
              </div>
              <br>
              <br>
              <div style="display:none" id="conectando">
                <p class="sansserif"> </p>

              </div>

              <p id="token" hidden>{{ token }}</p>
              <p id="destino" hidden>{{ SIP }}</p>
              <p id="redirect" hidden>{{ redirect }}</p>

              <div id="my-webexteams-widget" align="center">

                <div style="display:none" id="boton_call" align="center">
                  <form id="destination">
                    <!-- <input title="join" type="submit" value="join" ><img src="static/call.png" /></input> -->
                    <button id="call" onclick="ocultar()" title="join" type="submit"><img
                        src="static/call.png" /></button>

                  </form>
                </div>

                <div id="contenedor" style="display: flex">



                  <div class="row">
                    <audio style="width:100%" id="remote-view-audio" autoplay playsinline></audio>
                    <video style="width:100%" id="remote-view-video" autoplay playsinline> Tu navegador no esta
                      actualizado o no es compatible para poder realizar la llamada de video.</video>
                    <img id="audioOnly" align="center" src="static/audioOnly.png" style="visibility: hidden; height: 0px;
                    width: 100px;">

                  </div>


                  <!-- <div style="width:50%">  style="width: 150%; height: 220px; overflow: hidden;"-->
                  <div class="row" id="video-propio">

                    <video onresize="updateValue()" style="width: 100%; height: 200px;" id="self-view" muted autoplay
                      playsinline> Tu navegador no esta actualizado o no es compatible para poder realizar la llamada de
                      video.</video>
                  </div>



                  <!-- </div> -->
                </div>

                <br>
                <br>


                <div id="colgar" style="display:none" align="center">



                  <table style="width:100%">
                    <tr>
                      <th> <button onclick="mostrar()" id="hangup" title="hangup" type="button"><img
                            src="static/hangup.png" /></button></th>
                      <th> <button id="toogle-audio" title="toogle audio" value="on" type="button"><img id="mute"
                            src="static/mic.png" /></button></th>
                      <th> <button id="toogle-video" title="toogle video" value="on" type="button"><img id="videox"
                            src="static/video-on.png" /></button></th>
                    </tr>

                  </table>


                     <div align="center">
                          <h5>
                           <strong>Cisco. Una iniciativa por México </strong>
                           </h5>
                           <ul style="list-style-type: none; margin: 0; padding: 0;">
                           <li>
                           <a  href="#"></a>
                           </li>
                           <li>
                           <a  href="#">Al hacer uso de esta plataforma estás aceptando los Términos y Condiciones de la Licencia de Uso:</a>
                           </li>
                           <li>
                           <a  href="https://developer.cisco.com/site/license/cisco-sample-code-license/"  target="_blank" >https://developer.cisco.com/site/license/cisco-sample-code-license/</a>
                           </li>
                           
                           </ul>
                    </div>








                </div>


              </div>


            </div>



          </div>

        </div>



      </div>
    </div> <!-- fin del Div del NAV -->

  </div> <!-- fin del Div principal -->






</body>



<br>
<br>
<br>
<br>
<br>
<br>
<br>



<script>





  var bandera = 0;

  function updateValue() {

    if (bandera == 0) {

      console.log("cambio l ventana");

      sleep(400).then(() => {
        document.getElementById("conectando").style.display = "block";
        document.getElementById("hangup").click(); // Click on the checkbox
      });

      bandera = 1;
      console.log("bandera XXXXXXXXXXX" + bandera)
      //1200
      console.log("tiempo recorrido>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>");
      sleep(1200).then(() => {

        document.getElementById("call").click();
        document.getElementById("boton_call").style.display = "none";

      });

    }

  }


  window.onload = function () {
    var myRE = /^[A-Z]{3}-L(X?[0-9]*[A-Z]*|[0-9]*[A-Z]*)/;

    var res = navigator.userAgent.split(";");
    var res1 = res[2].split(")");

    console.log(res1)
    const URLRedirect = document.getElementById('redirect').innerHTML;
    console.log(URLRedirect)

    if(navigator.userAgent.includes("Firefox")){


        alert(" Navegador No Soportado para Llamadas via Web Browser, por favor utilice otro navegador como Chrome o Safari ");
            document.getElementById("xall").style.display = "none";
            document.getElementById("firefox").style.display = "block";

        return;


    }

    if (myRE.test(res1[0].trim())) {
      alert("Dispositivo No Soportado para Llamadas via Web Browser \n Por favor descargue la APP de Webex");
      window.location = URLRedirect;
      return;
    }
    if (!window.location.hash) {
      window.location = window.location + '#loaded';

      var head = document.getElementsByTagName('head')[0];
      var script = document.createElement('script');
      //script.src= '/static/webex.min.js';

      script.src = "https://unpkg.com/webex@^1/umd/webex.min.js";
      head.appendChild(script);

      window.location.reload();

    }
  }

  function ocultar() {

    console.log("entro al submit. - -- - - - " + bandera + "se incrementa timer");
    document.getElementById("cabecera").style.display = "none";
    document.getElementById("boton_call").style.display = "none";
    document.getElementById("contenedor").style.display = "block";

    // Click on the checkbox
  }

  function mostrar() {


    document.getElementById("boton_call").style.display = "block";

    document.getElementById("contenedor").style.display = "none";
    //document.getElementById("closecall").style.display = "block";

    document.getElementById("contenedor").style.display = "none";


  }


  function sleep(time) {
    return new Promise((resolve) => setTimeout(resolve, time));
  }

  document.onreadystatechange = function () {
    if (document.readyState !== "complete") {
      document.querySelector(
        "body").style.visibility = "hidden";
      document.querySelector(
        "#loader").style.visibility = "visible";



    } else {




      // your code here
      console.log("Your screen is width: " + screen.width + " x screen height:  " + screen.height);
      var srcw = 15;
      var srch = 6;
      if (screen.width > 800) {

        srcw = 1.7;
      }


      if (screen.height > 800) {

        srch = 1.5;
      }

      document.getElementById("my-webexteams-widget").style.width = " " + (screen.width - (screen.width / srcw)) + "px";
      document.getElementById("my-webexteams-widget").style.height = " " + (screen.height - (screen.height / srch)) + "px";


      //  document.getElementById("self-view").style.width = " " + screen.width  + "px"; 
      //document.getElementById("self-view").style.height = " " + ((screen.height - (screen.height / srch))-400) + "px";

      // Usage!
      sleep(7000).then(() => {
        // Do something after the sleep!
        mostrar();
        document.getElementById("colgar").style.display = "block";
        document.querySelector(
          "#loader").style.display = "none";
        document.querySelector(
          "body").style.visibility = "visible";
      });


    } // Fin del else
  };


</script>