{% extends "base.html" %}

{% block content %}

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf8">
  <title>Space Widget Demo</title>
  <script src="https://code.s4d.io/widget-space/production/bundle.js"></script>
  <link rel="stylesheet" href="https://code.s4d.io/widget-space/production/main.css">
</head>

<body onload="getResolution();">
  <div align="center">
    <h4>TeleConsulta COVID-19</h4>
    <p class="sansserif"> Para iniciar la videollamada, favor de presionar el botón verde "Call"</p>

    <p class="sansserif"> Sesion valida por una hora </p>

    <p class="sansserif"> Se recomienda estar conectado a una red de tipo WiFi antes de iniciar la videollamada, con la
      finalidad de no consumir su plan de datos celular.</p>
  </div>

  <div id="my-webexteams-widget" style="width: 350px; height: 600px;" />

  <script>


    var widgetEl = document.getElementById('my-webexteams-widget');
    // Init a new widget
    webex.widget(widgetEl).spaceWidget({
      guestToken: '{{ token }}',
      destinationId: '{{ SIP }}',
      destinationType: 'sip',
      spaceActivities: { "files": false, "meet": true, "message": false, "people": false },
      initialActivity: 'meet',
      secondaryActivitiesFullWidth: false
    });
  </script>
  <script>

    function getResolution() {
      var srcw = 12;
      var srch = 4;
      if (screen.width > 800) {
        srcw = 4;
      }
      if (screen.height > 800) {
        srch = 3.2;
      }
      document.getElementById("my-webexteams-widget").style.width = " " + (screen.width - (screen.width / srcw)) + "px";
      document.getElementById("my-webexteams-widget").style.height = " " + (screen.height - (screen.height / srch)) + "px";
    }
  </script>
</body>
</html>
{% endblock %}